* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  gap: 10px;
  padding: 15px;
}

input {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

img {
  max-width: 480px;
  max-height: 480px;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  object-fit: contain;
  object-position: 0 0;
}

pre {
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  border: 1px dashed #7a55ff;
  background-color: #b5a1ff20;
  color: #705bbc;
  font-family: monospace;
  white-space: pre-wrap;
}
