* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  gap: 5px;
  padding: 15px;
}

hr {
  width: 100%;
}

img {
  max-width: 480px;
  max-height: 480px;
  border-radius: 10px;
  object-fit: scale-down;
  object-position: 0 0;
}

pre {
  padding: 20px;
  margin: 0;
  background-color: #1e1e1e20;
  border-radius: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}
